<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bruno.mobile.redelistmobile" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:theme="@style/Theme.Themeredelist" >

        <!-- <service android:name=".ServiceUpdate" /> -->

        <!--<uses-library android:name="com.google.android.maps" />-->

        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ListTelefonesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".SearchListTelefonesActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCVMKkXeoB3oJfYYknmYF_675jp2VSt2Og" />
        <!--<meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="@string/title_activity_sobre" >
        </activity>
        <activity
            android:name=".PaisActivity"
            android:label="@string/title_activity_pais" >
        </activity>
        <activity
            android:name=".CidadeActivity"
            android:label="@string/title_activity_cidade" >
        </activity>
        <!--
        <activity
            android:name=".ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes" >
        </activity>
        -->
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" >
        </activity>
    </application>

</manifest>
